<div class="panel panel-info" ng-controller="MainCtrl">
  <div class="panel-body">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#form-compromiso" data-toggle="tab" aria-expanded="true">Upload</a>
        </li>
        <li class=""><a href="#form-cat-tipos" data-toggle="tab" aria-expanded="false">Search</a>
        </li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane fade active in col-md-12" id="form-compromiso">
            <div class="panel panel-body ">
                    <fieldset>
                        <label >CSV File:</label>
                          <input  class="btn" type="file" accept=".csv" file-reader="fileContent" />
                      </fieldset>
                      <section ng-show="fileContent">
                        <table class="table table-bordered">
                          <tr>
                                <th ng-repeat="dat in data[0] track by $index">{{dat}}</th>
                                <th>Up</th>
                          </tr>
                          <tr ng-repeat="raw in data.slice(1,-1) track by $index">
                            <td ng-repeat="dat in raw track by $index">{{dat}}</td>
                            <td><button class="btn btn-info" ng-click="subirRegistro(raw)">Up {{raw.upload}}</button></td>
                          </tr>
                        </table>
                        <!--fieldset>
                            <label>Up all:</label>
                              <input class="btn btn-success" type="button" value="Up" />
                          </fieldset-->
                      </section>
            </div>

        </div>

        <div class="tab-pane fade" id="form-cat-tipos">
          <uib-tabset active="$tabSetStatus.activeTab">
           <div class="panel panel-body">

            <fieldset class="form-group">
                <div class="input-group col-md-10 col-md-offset-1">
                    <input type="text" class="form-control" placeholder="Search" ng-model="dato">
                    <div class="input-group-btn">
                      <button class="btn btn-default" type="submit" ng-click="obtenerRegistro(dato)">
                        <i class="glyphicon glyphicon-search"></i>
                      </button>
                    </div>
                  </div>
            </fieldset>

            <div class="panel panel-body panel-success">
              <p ng-show="busquedareg">Resultado: <br />{{busquedareg}}</p>
            </div>

           </div>
          </uib-tabset>
        </div>
    </div>
  </div>
</div>

